<a href="https://colab.research.google.com/github/GabCam23/CPEN65-1/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Accessing elements in array
animals=["cat","dog","fish"]
x=animals[0]
y=animals[1]
z=animals[2]
print(x)
print(y)
print(z)

cat
dog
fish

In [2]:
#Modifying the element/s in an Array
animals = ["cat","dog","fish"]
animals[0] = "monkey"
x = animals[0]
print("Array[0]=",x)
print(animals)

Array[0]= monkey
['monkey', 'dog', 'fish']

In [3]:
#Lenght of the array
animals = ["monkey","dog","fish","cat","birds"]
v = len(animals)
print(v)

5

In [4]:
#Looping Array Elements
animals = ["monkey","dog","fish","cat","birds"]
for x in animals:
  print(x)

monkey
dog
fish
cat
birds

In [5]:
animals = ["monkey","dog","fish","cat","birds"]
for index, val in enumerate(animals):
  print(index,val)

0 monkey
1 dog
2 fish
3 cat
4 birds

In [6]:
#Adding elements in the array
animals = ["monkey","dog","fish","cat","birds"]
animals.append("lion")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'birds', 'lion']

In [7]:
#Write a Python program to insert a new ['11'] before the second element in an existing array.
#Original array: numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
numbers.insert(1,11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
#Removing element/s in an array
print(numbers)
numbers.pop(1)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]